html {
    background-color: #363636; color: white;
    margin: 0; padding: 0;
}

/* For this project, the following spacing rules apply:
    2rem - Large
    1rem - Medium
    .5rem- Small
*/

:root {
    --project-gray: #161616;
    --project-purple: #7b68ee;
}

#nav {
    background-color: var(--project-gray);
    height: 100%; width: 15%;
    left: 0; margin: 0; top: 0;
    list-style-type: none;
    padding-left: 0;
    position: fixed;
}
.nav-item a {
    font-size: 1.5rem;
    text-decoration: none;
}
.nav-item {
    padding: .5rem .5rem .5rem 1.5rem;
}
.nav-item:hover {
    background-color: #262626;
    border-radius: 10px;
}
.active {color: var(--project-purple);}
.nav-item a:not(.active) {color: white;}

.main-content {
    float: right;
    width: 85%;
}

.title {
    margin: 2rem;
    text-align: center;
}

.table-wrapper {
    border: #262626 2px solid; border-radius: 10px;
    margin: 2rem auto;
    width: 40rem;
}
.stats {margin: auto; text-align: center;}
.stats th {color: var(--project-gray);}
.stats th, .stats td {padding: .5rem 1rem;}
.stats tr:hover td {
    color: var(--project-purple);
    cursor: pointer;
}
.stats .team-name {font-size: 1.25rem; text-align: left !important;}

#year-selector {
    background-color: transparent; color: var(--project-purple);
    border: #262626 2px solid; border-radius: 10px;
    font-size: 1.25rem;
    margin: .5rem;
}
